{% extends 'base.html' %}

{% block content %}
    <div class="contianer">
      <div class="row">
        <div class="col text-center">
          <h1 style="color: white;">Click to find where the ISS is right now!</h1><br>
    <form id="iss_form" class="find" action="/find_iss" method="post" accept-charset="utf-8">
        <button class="btn btn-primary" type="submit">Find ISS</button>
        </form>
      </div>
    </div><br>
    <div class="iss_img">
    <img src="static/imgs/iss-png--896.webp" alt="iss image" style="margin-left:auto; margin-right:auto; width: 50%; display:block;">
  </div>
</div>

{% endblock %}